@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins&family=Roboto:wght@300;400;500&display=swap');
*{
    /* 300, 400, 500 */
    font-family: 'Roboto', sans-serif;
}
.nav-link{
    font-weight: 300;
    
}
.nav-link:hover{
    font-weight: 400;
}
#t{
    font-weight: 400;
}
#t:hover{
    font-weight: 900;
}
.active{
    font-weight: 400;
}

.container{
    margin-bottom: 50px;
}
.container-1{
    margin-bottom: 50px;
    margin-top: 80px;
    float: right;
    
}


.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
#price{
    color: #FF136F;
}


.carousel-item{
    padding: 20px 20px;
}
.buy{
    font-weight: 500;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
#watch{
    font-family: 'Roboto', sans-serif;
}

.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat-1{
    background-color: orange;
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}

.max{
    font-size: 30px;
}

.price{
    font-size: 30px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px grey;
}

.card-title{
    font-size: 25px;
}


.er{
    display: flex;
    width: 320px;
}

#subscribe{
    height: 300px;
}

.gy{
    font-size: 15px;
    padding: 6px 20px;
}

footer{
    text-align: center;
}